<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<body> 
{{!-- NAV --}}
  <nav>
    <div class="nav-wrapper #37474f blue-grey darken-3">
      <a href="#" class="brand-logo">EAT THE BURGER</a>
    </div>
  </nav>

  <form align="center" 
        id="myForm" 
        method="GET" 
        target="_blank"
        action="/action_page.php"> 
    BURGER ID 
    <br> 
    <br> 
    <br> 
    <input type="text" 
            name="lname" 
            placeholder="LName"> 
    <br> 
    <br> 
   </form> 
    <button onclick="myGeeks()"> 
        DEVOUR!
    </button>
   
   
   
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>