body {
    background-image:url(https://vignette.wikia.nocookie.net/spongebob/images/4/42/Bottle_Burglars_072.png/revision/latest?cb=20180414142257);
    background-position:center top;
    background-repeat:no-repeat
}